#Ignore C++ compiled executable
out.exe

#Ignore VSCODE user settings
.vscode/

#Remove the .gitattributes file for LFS rules
rm .gitattributes

#Ignore windows system files
Thumbs.db
ehthumbs.db
Desktop.ini